* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  color: #f00;
  width: 100%;
  height: auto;
}
.footer {
  display: block;
  width: 100%;
  height: 200px;
  color: #0ff;
  border: 53px solid #f00;
}
