extends layout/main.pug

include ../blocks/header/header.pug
include ../blocks/footer/footer.pug
include ../blocks/content/content.pug
include ../blocks/side-menu/side-menu.pug


block title
	title Glavnaya stranica 
block pagecontent
		+header()
		
		+side-menu()

		+footer()
		
		+content()

		